*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  background: #d7e3fc;
  text-align: right;
}

.main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}

.welcome {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: #ccdbfd;
  text-align: center;
}

.skillsandwork {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  background: #c1d3fe;
}

.aboutme {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: #b6ccfe;
  text-align: center;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
}

.list {
  display: inline-block;
  margin: 0px 30px 0px 30px;
}

.listaboutme {
  list-style-type: none;
}
